body{
    padding: 50px 0px;

    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    flex-wrap: wrap;
    margin: 0 auto;

}
button{
    cursor: pointer;
}
.circle {
    width: 30px;
    height: 30px;
    background: #3a3737;
    margin: 2px;
    border-radius: 50px;
    transition: .5s;
   
}
.circle:hover{
    transition: .1s;
}